extends layout

block content
  h1= title
  //- Links de interacción 
  p
  a(href="/descarga/miguel") Descargar documento
  
  p
  a(href="/video-static") Ver video contenido estatico

  p
  a(href="/video-stream") Ver streaming sin segmentación

  p
  a(href="/video-rango") Ver streaming con segmentación visual
